body{
    font-family:'Lucida Console';
}
h1{
    font-size: 36px;
    color: black;
    width: 600px;
    margin: 0 auto;
}
#main{
    width: 600px;
    margin: 0 auto;
    font-size: 18;
}
span1{
    font-size: 20px;
    font-weight: bold;
}
span2{
    visibility: hidden;
}