body{
    font-family:'Lucida Console';
}
h1{
    font-size: 36px;
    color: black;
}
p{
    font-size: 18px;
} 
h2{
    font-size: 36px;
    color: blue
}
div{
    font-size: 18px;
}
span1{
    font-size: 20px;
    font-weight: bold;
}
span2{
    visibility: hidden;
}
